        body {
            background-color: #d4d4d4;
            border: 5px;
            text-align: center;
            margin: auto;
            padding: 2em;
            max-width: 800px;
            line-height: 20px;
            align-content: center;
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 20px;
        }

        div {
            align-content: center;

        }

        p {
            margin: auto;
            padding: 2em;
            text-align: center;
        }

        .container1 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: center;
            flex-direction: column;
        }

        .container1 img {
            margin: 20px;
            outline: 4px solid #808080;
            width: 400px;
            height: 550px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: center;
            flex-direction: column;

        }

        .header {
            margin: 20px;
            padding: 2em;
            width: auto;
            height: auto;
            border: 2px solid;
            border-color: black;

        }

        .middle {
            margin: 20px;
            padding: 1em;
            width: auto;
            height: auto;
            border: 2px solid;
            border-color: black;
        }

        .footer {
            margin: 20px;
            padding: 2em;
            width: auto;
            height: auto;
            border: 2px solid;
            border-color: black;
        }

        .middle img {
            margin: 20px;
            outline: 3px solid #808080;
            width: 100px;
            height: 180px;
        }

        .middle img:hover {
            cursor: pointer;
            margin-top: 5px;
        }

        .header {
            margin: 20px;
            align-content: center;
            max-width: auto;
            height: auto;
            padding: 2em;
            background-color: azure;
        }

        .mainsection {
            margin: 20px;
            align-content: center;
            max-width: auto;
            height: auto;
            padding: 2em;
            background-color: azure;
            border: 2px solid black;
        }

        .subdiv {
            margin: auto;
            align-content: center;
            max-width: auto;
            height: auto;
            padding: 2em;
            background-color: #CCCCFF;
            border: 2px solid black;
        }

        .footer {
            margin: 20px;
            align-content: center;
            max-width: auto;
            height: auto;
            padding: 2em;
            background-color: azure;
        }
